<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row">
<div class="col-sm-12">
  <div class="page-sub-header">
    <h3 class="page-title">Nos Films</h3>
    <!-- <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="students.html">Student</a></li>
      <li class="breadcrumb-item active">All Students</li>
    </ul> -->
  </div>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
<div class="col-sm-12">

<div class="card card-table comman-shadow">
  <div class="card-body pb-0">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">Films</h3>
        </div>
        <div class="col-auto text-end float-end ms-auto download-grp">
          <a href="http://localhost:4200/film" class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>
          <a href="http://localhost:4200/gridFilm" class="btn btn-outline-gray me-2 active"><i class="feather-grid "></i></a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="student-pro-list">
      <div class="row">

        <div class="col-xl-3 col-lg-4 col-md-6 d-flex" *ngFor="let item of films; let i = index">
          <div class="card">
            <div class="card-body">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="">
                    {{item.photo}}
                    <!-- <img class="img-fluid" [src]="item.photo" alt="Image {{i + 1}}" /> -->
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="">{{item.category}}</a></h5>
                  <h6>{{item.titre}}</h6>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div class="col-xl-3 col-lg-4 col-md-6 d-flex">
          <div class="card">
            <div class="card-body">
              <div class="student-box flex-fill">
                <div class="student-img">
                  <a href="student-details.html">
                    <img class="img-fluid" alt="Students Info" src="assets/img/profiles/avatar-04.jpg">
                  </a>
                </div>
                <div class="student-content pb-0">
                  <h5><a href="student-details.html">Levell Scott</a></h5>
                  <h6>Student</h6>
                </div>
              </div>
            </div>
          </div>
        </div> -->

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

<!-- Footer -->
<footer>
<p>COPYRIGHT © 2023 DREAMSTECHNOLOGIES.</p>
</footer>
<!-- /Footer -->
</div>
<!-- /Page Wrapper -->
