		<!-- Main Wrapper -->
    <div class="main-wrapper login-body">
      <div class="login-wrapper">
        <div class="container">
            <div class="loginbox">
                <div class="login-left">
        <img class="img-fluid" src="assets/img/login.png" alt="Logo">
                  </div>
                  <div class="login-right">
        <div class="login-right-wrap">
          <h1>Sign Up</h1>
          <p class="account-subtitle">Entrer les details pour créé votre compte</p>

          <!-- Form -->
          <form [formGroup]="registerForm">
            <div class="form-group">
              <label >Username <span class="login-danger">*</span></label>
              <input class="form-control" type="text" formControlName="username">
              <span class="profile-views"><i class="fas fa-user-circle"></i></span>
            </div>
            <div class="form-group">
              <label >Email <span class="login-danger">*</span></label>
              <input class="form-control" type="email" formControlName="email">
              <span class="profile-views"><i class="fas fa-envelope"></i></span>
            </div>
            <div class="form-group">
              <label >Mot de passe <span class="login-danger">*</span></label>
              <input class="form-control pass-input" type="text" formControlName="password">
              <span class="profile-views feather-eye toggle-password"></span>
            </div>
            <div class="form-group">
              <label >Prénom <span class="login-danger">*</span></label>
              <input class="form-control pass-confirm" type="text" formControlName="first_name">
              <span class="profile-views"><i class="fas fa-user-circle"></i></span>
            </div>
            <div class="form-group">
              <label >Nom <span class="login-danger">*</span></label>
              <input class="form-control pass-confirm" type="text" formControlName="last_name">
              <span class="profile-views"><i class="fas fa-user-circle"></i></span>
            </div>

          <div class="col-12 col-sm-4">
            <div class="form-group local-forms">
              <label for="userType">User Type:<span class="login-danger">*</span></label>
              <select id="userType" name="userType" required class="form-control select" formControlName="userType">
                <option value="client">Client</option>
                <option value="gerant">Gerant</option>
              </select>
            </div>
          </div>
            <div class=" dont-have">vous avez déjà un compte?  <a routerLink="/auth/login">Login</a></div>
            <div class="form-group mb-0">
              <button class="btn btn-primary btn-block" type="submit" (click)="register()">Register</button>
            </div>

            <div *ngIf="errorMessage" class="error-message" style="color: red;">
              {{ errorMessage }}
            </div>
          </form>
          <!-- /Form -->

          <div class="login-or">
            <span class="or-line"></span>
            <span class="span-or">or</span>
          </div>

          <!-- Social Login -->
          <div class="social-login">
            <a href="#" ><i class="fab fa-google-plus-g"></i></a>
            <a href="#" ><i class="fab fa-facebook-f"></i></a>
            <a href="#" ><i class="fab fa-twitter"></i></a>
            <a href="#" ><i class="fab fa-linkedin-in"></i></a>
          </div>
          <!-- /Social Login -->

        </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
<!-- /Main Wrapper -->
