
<!-- Sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-inner slimscroll">
<div id="sidebar-menu" class="sidebar-menu">
<ul>
<li class="menu-title">
  <span>Main Menu</span>
</li>
<ng-container *ngIf="user.is_gerant == true">
  <li class="submenu active">
    <a routerLink="/home/acceuil">
      <i class="fa-solid fa-house"></i> <span> Home</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/film">
      <i class="fa-solid fa-video"></i> <span> Films</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a [routerLink]="['cinema']">
      <i class="fa-solid fa-film"></i> <span> Cinemas</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a [routerLink]="['ville']">
      <i class="fa-solid fa-city"></i> <span> Villes</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/salle">
      <i class="fa-solid fa-people-roof"></i> <span> Salles</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/place">
      <i class="fa-solid fa-couch"></i> <span> Places</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/ticket">
      <i class="fa-solid fa-ticket"></i> <span> Tickets</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/categorie">
      <i class="fa-solid fa-layer-group"></i> <span> Categories</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/projection"><i class="fas fa-file-invoice-dollar"></i> <span> Projections
    </span> <span class="menu-arrow"></span></a>
  </li>
</ng-container>

<!--  -->

<ng-container *ngIf="user.is_gerant == false">

  <li class="submenu active">
    <a routerLink="/home/acceuil">
      <i class="fa-solid fa-house"></i> <span> Home</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/show-projection"><i class="fas fa-file-invoice-dollar"></i> <span> Projections
    </span> <span class="menu-arrow"></span></a>
  </li>

  <!-- <li class="submenu">
    <a [routerLink]="['show-film']">
      <i class="fa-solid fa-video"></i> <span> Films</span> <span class="menu-arrow"></span>
    </a>
  </li> -->

  <li class="submenu">
    <a routerLink="/home/payement">
      <i class="fa-solid fa-money-check-dollar"></i> <span> Payement</span> <span class="menu-arrow"></span>
    </a>
  </li>

  <li class="submenu">
    <a routerLink="/home/ticket">
      <i class="fa-solid fa-ticket"></i> <span> Reservation</span> <span class="menu-arrow"></span>
    </a>
  </li>
</ng-container>

</ul>
</div>
  </div>
</div>
<!-- /Sidebar -->
