<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row">
<div class="col-sm-12">
  <div class="page-sub-header">
    <h3 class="page-title">Cinetrek</h3>
    <!-- <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="students.html">Student</a></li>
      <li class="breadcrumb-item active">All Students</li>
    </ul> -->
  </div>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="student-group-form">
<div class="row">
<div class="col-lg-3 col-md-6">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search by ID ...">
  </div>
</div>
<div class="col-lg-3 col-md-6">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Name ...">
  </div>
</div>
<div class="col-lg-4 col-md-6">
  <div class="form-group">
    <input type="text" class="form-control" placeholder="Search by Phone ...">
  </div>
</div>
<div class="col-lg-2">
  <div class="search-student-btn">
    <button type="btn" class="btn btn-primary">Search</button>
  </div>
</div>
</div>
</div>

<div class="row">
<div class="col-sm-12">

<div class="card card-table comman-shadow">
  <div class="card-body">

    <!-- Page Header -->
    <div class="page-header">
      <div class="row align-items-center">
        <div class="col">
          <h3 class="page-title">List Cinéma</h3>
        </div>
        <div class="col-auto text-end float-end ms-auto download-grp">
          <a href="students.html" class="btn btn-outline-gray me-2 active"><i class="feather-list"></i></a>
          <!-- <a href="students-grid.html" class="btn btn-outline-gray me-2"><i class="feather-grid"></i></a> -->
          <!-- <a href="#" class="btn btn-outline-primary me-2"><i class="fas fa-download"></i> Download</a> -->
          <a  routerLink="/home/postVille"  class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal"><i class="fas fa-plus"></i></a>
        </div>
      </div>
    </div>
    <!-- /Page Header -->

    <div class="table-responsive">

      <table class="table border-0 star-student table-hover table-center mb-0 datatable table-striped">
        <thead class="student-thread">
          <tr>
            <th>
              <div class="form-check check-tables">
                <input class="form-check-input" type="checkbox"  value="something">
              </div>
            </th>
            <th>ID</th>
            <th>Nom</th>
            <th>Longitude</th>
            <th>Altitude</th>
            <th>Latitude</th>
            <th class="text-end">Action</th>
          </tr>
        </thead>
        <tbody *ngFor="let item of villes, let i=index">
          <tr>
            <td>
              <div class="form-check check-tables">
                <input class="form-check-input" type="checkbox"  value="something">
              </div>
            </td>
            <td>PRE{{i+1}}</td>
            <td>{{item.nom}}</td>
						<td>{{item.longitude}}</td>
						<td>{{item.altitude}}</td>
						<td>{{item.latitute}}</td>
            <td class="text-end">
              <div class="actions ">
                <button href="javascript:;" class="btn btn-sm bg-success-light me-2 "(click)="deleteVille(item.id)">
                  <i class="fa-regular fa-trash-can"></i>
                </button>
                <button routerLink="/home/updateVille/{{item.id}}" class="btn btn-sm bg-danger-light">
                  <i class="feather-edit"></i>
                </button>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
</div>
</div>

  <div class="col-12">
    <div class="rounded">
        <iframe class="rounded-top w-100"
        style="height: 450px; margin-bottom: -6px;" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31708.18233239353!2d1.22368495!3d6.12232095!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1027a4b79f8e3e4d%3A0x233a4f96b2a9cd0e!2sIPNET%20Institute%20of%20Technology!5e0!3m2!1sfr!2stg!4v1623779336345!5m2!1sfr!2stg"
        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
  </div>
</div>
</div>


</div>
<!-- /Page Wrapper -->
