<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row align-items-center">
<div class="col-sm-12">
  <div class="page-sub-header">
    <h3 class="page-title">Ajout d'une Place</h3>
    <!-- <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="students.html">Student</a></li>
      <li class="breadcrumb-item active">Add Students</li>
    </ul> -->
  </div>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
<div class="col-sm-12">

<div class="card comman-shadow">
  <div class="card-body">

    <form [formGroup]="postPlaceForm">

      <div class="row">
        <div class="col-12">
          <h5 class="form-title student-info">Informations Places<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Numéro <span class="login-danger">*</span></label>
            <input class="form-control" type="number" placeholder="Numero" formControlName="numero">
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Prix <span class="login-danger">*</span></label>
            <input class="form-control" type="number" placeholder="Prix" formControlName="prix">
          </div>
        </div>

        <div class="form-group mb-0">
          <label class="custom_check w-100">
            <input type="checkbox" id="libre" name="libre" formControlName="libre">
            <span class="checkmark"></span> Libre
          </label>
          <label class="custom_check w-100">
            <input type="checkbox" id="reservee" name="reservee" formControlName="reservee">
            <span class="checkmark"></span> Reservée
          </label>
        </div>



        <div class="col-12">
          <div class="student-submit">
            <button type="submit" class="btn btn-primary" (click)="postPlace()">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- /Page Wrapper -->
