<!-- Page Wrapper -->
<div class="page-wrapper">
  <div class="content container-fluid">

<!-- Page Header -->
<div class="page-header">
<div class="row align-items-center">
<div class="col-sm-12">
  <div class="page-sub-header">
    <h3 class="page-title">Ajout Cinémas</h3>
    <!-- <ul class="breadcrumb">
      <li class="breadcrumb-item"><a href="students.html">Student</a></li>
      <li class="breadcrumb-item active">Add Students</li>
    </ul> -->
  </div>
</div>
</div>
</div>
<!-- /Page Header -->

<div class="row">
<div class="col-sm-12">

<div class="card comman-shadow">
  <div class="card-body">

    <form [formGroup]="postTicketForm">

      <div class="row">
        <div class="col-12">
          <h5 class="form-title student-info">Informations Cinema<span><a href="javascript:;"><i class="feather-more-vertical"></i></a></span></h5>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Nom du client <span class="login-danger">*</span></label>
            <select class="form-control select" formControlName="nomClient">
              <ng-container >
                <option [value]="user.id">{{user.last_name}}</option>
              </ng-container>
              </select>
          </div>
        </div>
        <!-- <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Nom du client<span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="non client" formControlName="nomClient">
          </div>
        </div> -->

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Prix <span class="login-danger">*</span></label>
            <input class="form-control" type="number" placeholder="prix" formControlName="prix">
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Code de payement<span class="login-danger">*</span></label>
            <input class="form-control" type="text" placeholder="Code" formControlName="codePayement<">
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Salle <span class="login-danger">*</span></label>
            <select class="form-control select" formControlName="salle">
              <ng-container *ngFor="let item of Salles">
                <option [value]="item.id">{{item.nom}}</option>
              </ng-container>
              </select>
          </div>
        </div>

        <div class="col-12 col-sm-4">
          <div class="form-group local-forms">
            <label >Place <span class="login-danger">*</span></label>
            <select class="form-control select" formControlName="place">
              <ng-container *ngFor="let item of places">
                <option [value]="item.id">{{item.numero}}</option>
              </ng-container>
              </select>
          </div>
        </div>

        <div class="col-12">
          <div class="student-submit">
            <button type="submit" class="btn btn-primary" (click)="postTicket()">Submit</button>
          </div>
        </div>

      </div>
    </form>
  </div>
</div>
</div>
</div>
</div>
</div>
<!-- /Page Wrapper -->
