<!-- Main Wrapper -->
<div class="main-wrapper login-body">
  <div class="login-wrapper">
    <div class="container">
        <div class="loginbox">
            <div class="login-left">
    <img class="img-fluid" src="assets/img/login.png" alt="Logo">
              </div>
              <div class="login-right">
    <div class="login-right-wrap">
      <h1>Bienvenue sur CINETREK</h1>
      <p class="account-subtitle">Créé un compte?  <a routerLink="/auth/register">Sign Up</a></p>
      <h2>Sign in</h2>
      <!-- Form -->

      <form>

        <div class="form-group">
          <label >Username <span class="login-danger">*</span></label>
          <input class="form-control"  [(ngModel)]="logindata.username" type="text" name="username">
          <span class="profile-views"><i class="fas fa-user-circle"></i></span>
        </div>
        <div class="form-group">
          <label >Mot de passe <span class="login-danger">*</span></label>
          <input class="form-control pass-input" [(ngModel)]="logindata.password" type="text" name="password">
          <span class="profile-views feather-eye toggle-password"></span>
        </div>
        <div class="forgotpass">
          <div class="remember-me">
            <label class="custom_check mr-2 mb-0 d-inline-flex remember-me"> Remember me
            <input type="checkbox" name="radio">
            <span class="checkmark"></span>
            </label>
          </div>

          <a href="forgot-password.html">Forgot Password?</a>
        </div>
        <div class="form-group">
          <button class="btn btn-primary btn-block" (click)="login()" type="submit">Login</button>
        </div>
        <div *ngIf="errorMessage" class="error-message" style="color: red;">
          {{ errorMessage }}
        </div>
      </form>
      <!-- /Form -->

      <div class="login-or">
        <span class="or-line"></span>
        <span class="span-or">or</span>
      </div>

      <!-- Social Login -->
      <div class="social-login">
        <a href="#" ><i class="fab fa-google-plus-g"></i></a>
        <a href="#" ><i class="fab fa-facebook-f"></i></a>
        <a href="#" ><i class="fab fa-twitter"></i></a>
        <a href="#" ><i class="fab fa-linkedin-in"></i></a>
      </div>
      <!-- /Social Login -->

    </div>
              </div>
          </div>
      </div>
  </div>
</div>
<!-- /Main Wrapper -->
